/* GRADIENT */
.bg-gradient {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.backlit {
    position: relative;
    text-align: center;
    padding: 30px;
    /* animation: textColor 10s ease infinite; */
}

.backlit:after {
    position: absolute;
    content: "";
    top: 5vw;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 3s ease infinite;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes textColor {
    0% {
        color: #7e0fff;
    }

    50% {
        color: #0fffc1;
    }

    100% {
        color: #7e0fff;
    }
}